/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    height: 900px;
    background-image: linear-gradient(to right, #0276a6 0%,  #023449 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    @include background(center, cover);
    @include breakpoint(x-normal) {
       height: 700px;
    }
    .carousel {
        position: relative;
        height: 100%;
    }
    .carousel-inner {
        position: relative;
        height: 100%;
    }
    .carousel-item {
        height: 100%;
        background-size: auto 80%;
        background-position: bottom right;
        background-repeat: no-repeat;
    }
    .banner-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        h2 {
            font-family: $font-family;
            font-weight: $font-weight-regular;
            font-size: 40px;
            color:  $color-white;
            text-transform: inherit;
            line-height: 1.4;
            margin-bottom: 35px;
            @include breakpoint(x-normal) {
               font-size: 30px;
            }
        }
        h4 {
            font-family: $font-family;
            font-weight: $font-weight-light;
            font-size: 22px;
            color:  $color-white;
            text-transform: inherit;
            line-height: 1.7;
            margin-bottom: 40px;
            @include breakpoint(x-normal) {
               font-size: 18px;
            }
        }
        a {
            background: $color-green;
            display: inline-block;
            border-radius: 5px;
            line-height: 3.5;
            width: 275px;
            color: $color-white;
            text-align: center;
            font-size: 14px;
            font-family: $font-family-opensans;
            text-transform: $text-uppercase;
            border: 1px solid $color-green;
            &:hover {
                border-color: $color-white;
                background: transparent;
            }
        }
    }
}