/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    padding: 35px 0;
    .footer-top {
        margin-bottom: 30px;
        .footer-nav {
            text-align: center;
            margin: 0 auto 10px;
            @include breakpoint(mobile) {
                margin: 0 auto 10px;
            }
            li {
                margin: 0 15px;
                @include breakpoint(mobile) {
                    margin: 0 8px;
                }
                a {
                    color: $color-black;
                    font-size: 15px;
                    text-transform: $text-capitalize;
                    font-weight: $font-weight-medium;
                    letter-spacing: 1px;
                    @include breakpoint(mobile) {
                        font-size: 13px;
                    }
                    &:hover {
                        color: $color-blue;
                    }
                }
            }
        }
    }
    .footer-bottom {
        .container-fluid {
            display: flex;
            justify-content: space-between;
            .align-center {
                span {
                    text-align: right;
                    color: #818791;
                    font-size: 12px;
                    font-family: $font-family;
                    font-weight: $font-weight-medium;
                    display: inline-block;
                    line-height: 1.8;
                }
                a {
                    display: inline-block;
                    &.footer-main-logo {
                        max-width: 200px;
                        height: 55px;
                        svg {
                            fill: $color-blue;
                        }
                    }
                    &.open-cloud-logo {
                        max-width: 200px;
                        height: 55px;
                    }
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}