/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Loader -----*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

#loader{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    width: 90px;
    height: 90px;
    transform: translateY(-50%);
}

.ouro {
    position: relative;
    display:inline-block;
    height: 70px;
    width: 70px;
    margin: 1em;
    border-radius: 50%;  
    background: none repeat scroll 0 0 #DDDDDD;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
    > span {
        position: absolute;
        height: 100%; width: 50%;
        overflow: hidden;
    }
    &:after {
        content: "";
        position: absolute;
        top: 10px; 
        left: 10px;
        display: block;
        height: 50px; 
        width: 50px;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
}

.left  { 
    left:0;   
    .anim {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.right { 
    left:50%;
    .anim {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        left: -100%;
        -webkit-transform-origin: 100% 50% 0;
        transform-origin: 100% 50% 0;
    }
}

.anim {
    position: absolute;
    left: 100%; top: 0;
    height: 100%; width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 $color-blue;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.ouro3 {
    .anim {
       -webkit-animation-delay: 0s;
       -webkit-animation-duration:3s;
       -webkit-animation-timing-function: linear;
       animation-delay: 0s;
       animation-duration:3s;
       animation-timing-function: linear;
    }
}


@keyframes ui-spinner-rotate-right{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(180deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(360deg)}
  100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(0deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(180deg)}
  100%{transform:rotate(360deg)}
}

@-webkit-keyframes ui-spinner-rotate-right{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}

/*--------------------------------------*/

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(225, 225, 225, 0.3);
    .call-to-action {
        margin-left: 40px;
        li {
            &:first-child {
                span {
                    font-family: $font-family;
                    font-weight: $font-weight-medium;
                    font-size: 16px;
                    color: $color-white;
                    @include breakpoint(x-normal) {
                        font-size: 14px;
                    }
                }
            }
            margin: 0 10px;
            a {
                width: 109px;
                line-height: 2.2;
                color: $color-white;
                font-size: 16px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                border: 1px solid $color-white;
                border-radius: 4px;
                display: inline-block;
                text-align: center;
                text-transform: $text-uppercase;
                @include breakpoint(x-normal) {
                   font-size: 14px;
                }
                &:hover {
                    background: $color-green;
                    border-color: $color-green;
                }
            }
        }
    }
    .navbar-header {
        line-height: 0;
    }
    .navbar-brand {
        padding: 0px;
        max-width: 200px;
        line-height: 0;
        height: 55px;
        svg {
            height: 100%;
            width: 100%;
            fill: $color-white;
        }
    }
    .navbar {
        padding: 20px 0px;
        @include breakpoint(x-normal) {
            padding: 15px 0px;
        }
        .navbar-nav {
            > li {
                margin: 0 10px;
                > a {
                    padding: 0px;
                    color: $color-white;
                    font-family: $font-family;
                    font-weight: $font-weight-medium;
                    font-size: 16px;
                    text-transform: $text-capitalize;
                    letter-spacing: 0.03em;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    display: inline-block;
                    @include breakpoint(x-normal) {
                        font-size: 14px;
                    }
                    &:hover {
                        color: $color-green;
                    }
                }
            }
        }
    }
}

/*----- Sticky Header -----*/

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px;
    background: $color-blue;
}