/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

.container-fluid {
    padding-left: 80px;
    padding-right: 80px;
    @include breakpoint(x-normal) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.top_space {
    height: 0;
    position: relative;
    top: -50px;
    vertical-align: top;
}

/*-------------------------------------------------------------------
- MAIN SECTIONS
-------------------------------------------------------------------*/

/*----- Common Section -----*/

.section {
    padding: 90px 0px;
    @include breakpoint(x-normal) {
       padding: 60px 0px;
    }
}

/*----- Integrate Section -----*/

.integrate-sec-wrap {
    text-align: center;
    h4 {
        color: $color-black;
        margin-bottom: 50px;
    }
    .logo-slider {
        margin-bottom: 80px;
        .item {
            display: inline-block;
            vertical-align: middle;
            float: none;
            text-align: center;
            img {
                max-width: 75%;
                display: inline-block;
            }
        }
    }
    h3 {
        color: $black;
        margin-bottom: 30px;
    }
    p {
        color: #818791;
        font-size: 22px;
        font-family: $font-family;
        margin-bottom: 60px;
        display: block;
        line-height: 1.5;
        @include breakpoint(x-normal) {
           font-size: 19px;
        }
        &.service {
            color: $color-green;
            font-size: 22px;
            font-family: $font-family;
            display: block;
            margin-bottom: 0px;
            line-height: 1.7;
            @include breakpoint(x-normal) {
               font-size: 19px;
            }
        }
    }
    .row {
        width: 80%;
        margin: 0 auto 70px;
        @include breakpoint(x-normal) {
           margin: 0 auto 50px;
        }
        p {
            text-align: left;
            margin: 0px;
            small {
                color: $color-green;
                font-weight: $font-weight-regular;
                font-size: 22px;
                @include breakpoint(x-normal) {
                   font-size: 19px;
                }
            }
        }
    }
}

/*----- Company Service Section -----*/

.company-service-sec {
    background: $color-blue;
    text-align: center;
    h3 {
        color: $color-white;
        margin-bottom: 80px;
        font-weight: $font-weight-regular;
    }
    .grid-item {
        margin-bottom: 100px;
        @include breakpoint(x-normal) {
           margin-bottom: 60px;
        }
        img {
            display: block;
            margin: 0 auto 20px;
        }
        h5 {
            color: $color-white;
            font-family: $font-family;
            font-weight: $font-weight-semibold;
            margin-bottom: 3px;
            font-size: 16px;
            display: block;
            text-transform: $text-uppercase;
            line-height: 1.5;
            @include breakpoint(x-normal) { 
                font-size: 14px;    
            }
        }
        h6 {
            color: $color-white;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            margin: 0 auto;
            display: block;
            line-height: 1.6;
            @include breakpoint(x-normal) { 
                font-size: 14px;    
            }
        }
    }
    h5 {
        color: $color-white;
        font-family: $font-family;
        font-weight: $font-weight-regular;
        margin: 0 auto;
        font-size: 22px;
        display: block;
        strong {
            font-weight: $font-weight-bold;
        }
        @include breakpoint(x-normal) {
           font-size: 19px;
        }
    }
}

/*----- Get In Touch ------*/

.get-in-touch-wrap {
    background: $color-grey;
    h4 {
        color: $color-white;
        text-align: center;
        margin: 0 auto 40px;
    }
    .get-in-touch-sec {
        max-width: 50%;
//        background: #c2e7f6;
        background: $color-blue;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        @include breakpoint(x-normal) {
            max-width: 55%;
        }
        form {
            margin: 0 auto;
            .form-group {
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                label {
                    width: 40%;
                    margin-right: 10px;
                    text-transform: $text-capitalize;
                    margin-bottom: 0px;
                    font-weight: $font-weight-semibold;
                    padding-top: 12px;
                    color: $color-white;
                }
                .form-control {
                    width: 60%;
                }
            }
            .button-sec {
                display: block;
                text-align: right;
                button {
                    background: $color-blue;
                    border-color: $color-white;
                    color: $color-white;
                    &:hover {
                        background: $color-green;
                        color: $color-white;
                        border-color: $color-green;
                    }
                }
            }
        }
    }
}

/*----- Agency Application Section -----*/

.agency-application-wrap {
    background-image: linear-gradient(to right, #0276a6 0%,  #023449 100%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    h4 {
        color: $color-white;
        line-height: 1.7;
        margin-bottom: 30px;
        font-weight: $font-weight-medium;
    }
    p {
        color: $color-white;
        font-weight: $font-weight-light;
        font-size: 22px;
        font-family: $font-family;
        margin-bottom: 35px;
        display: block;
        @include breakpoint(x-normal) {
           font-size: 19px;
        }
    }
    .required {
        font-size: 16px;
        margin-bottom: 0px;
        color: $color-white;
        font-weight: $font-weight-light;
        font-size: 22px;
        font-family: $font-family;
        display: block;
        @include breakpoint(x-normal) {
           font-size: 19px;
        }
    }
    a {
        background: $color-green;
        display: inline-block;
        border-radius: 5px;
        line-height: 3.5;
        width: 265px;
        color: $color-white;
        text-align: center;
        font-size: 14px;
        font-family: $font-family-opensans;
        text-transform: $text-capitalize;
        border: 1px solid $color-green;
        margin-bottom: 20px;
        &:hover {
            border-color: $color-white;
            background: transparent;
        }
    }
}

/*----- App Section -----*/

.app-sec-wrap {
    background: $color-grey;
    text-align: center;
    h4 {
        color: #384750;
        margin-bottom: 30px;
        line-height: 1.6;
    }
    li {
        margin: 0 22px;
        a {
            display: inline-block;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

/*----- Important Section -----*/

.important-interaction-wrap {
    .order {
        order: 1;
        &.img-sec {
            margin-left: 60px;
            @include background(top right, cover);
            position: absolute;
            right: -65px;
            bottom: 0;
            top: 0;
            height: auto;
            width: 50%;
            border-radius: 10px 0px 0px 10px;
            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
            @include breakpoint(x-normal) {
                right: -35px;
                width: 50%;
            }
        }
    }
    .row {
        &.mb-5 {
            margin-bottom: 6em !important;
            position: relative;
            min-height: 860px;
            @include breakpoint(x-normal) {
                min-height: auto;
                margin-bottom: 4em !important;
            }
        }
        &.pad-lr {
            .content-sec {
                ul {
                    padding-right: 26%;
                    @include breakpoint(x-normal) {
                        padding-right: 12%;
                    }
                }
            }
        }
        .mt-5 {
            .content-sec {
                padding-right: 150px;
                @include breakpoint(x-normal) {
                    padding-right: 60px;
                }
            }
        }
    }
    .img-sec {
        margin: 0 auto;
        text-align: center;
    }
    .content-sec {
        h3 {
            line-height: 1.6;
            margin-bottom: 40px;
            font-weight: $font-weight-semibold;
            color: #3b4a53;
            font-size: 40px;
            @include breakpoint(x-normal) {
               font-size: 28px;
            }
        }
        li {
            position: relative;
            list-style: none;
            margin-bottom: 40px;
            padding-left: 85px;
            @include breakpoint(x-normal) {
                padding-left: 70px;
            }
            h6 {
                font-size: 18px;
                font-weight: $font-weight-bold;
                text-transform: $text-uppercase;
                line-height: 1.5;
                @include breakpoint(x-normal) {
                   font-size: 15px;
                }
            }
            p {
                font-size: 18px;
                @include breakpoint(x-normal) {
                   font-size: 15px;
                }
            }
            span {
                background: #ebfaf8;
                border-radius: 100%;
                height: 60px;
                width: 60px;
                position: absolute;
                left: 0;
                top: -12px;
                text-align: center;
                @include breakpoint(x-normal) {
                    height: 50px;
                    width: 50px;
                }
                i {
                    color: $color-green;
                    font-size: 25px;
                    position: absolute;
                    top: 47%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    @include breakpoint(x-normal) {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

/*----- Testimonial Section ------*/

.testimonial-sec-wrap {
    background: $color-grey;
    text-align: center;
    .testimonial-slider {
        h5.title {
            color: $color-green;
            font-size: 14px;
            font-weight: $font-weight-semibold;
            text-transform: $text-uppercase;
            margin-bottom: 10px;
            display: block;
        }
        h6 {
            color: #818791;
            font-weight: $font-weight-regular;
            margin-bottom: 40px;
            font-size: 16px;
        }
        p {
            color: #818791;
            font-size: 20px;
            font-family: $font-family-merriweather;
            font-weight: $font-weight-regular;
            font-style: italic;
            width: 50%;
            line-height: 2;
            margin: 0 auto 30px;
        }
    }
    
    /*----- Slick Dots -----*/

    .slick-dots {
        margin: 28px auto 13px;
        text-align: center;
        width: 100%;
        li {
            display: inline-block;
            margin: 0 5px;
            button {
                border-radius: 100%;
                background: #d0d0d0;
                height: 9px;
                min-width: 9px;
                margin: 0 5px;
                padding: 0;
                text-indent: -999999px;
                vertical-align: middle;
                border-color: #d0d0d0;
                box-shadow: none;
                &:hover {
                    background: #a5a5a6;
                    border-color: #a5a5a6;
                    box-shadow: none;
                }
            }
            &.slick-active {
                button {
                    background: $color-green;
                    border-color: $color-green;
                    min-width: 30px;
                    border-radius: 10px;
                }
            }
        }
    }
}

/*----- Pricing Section -----*/

.pricing-sec-wrap {
    background: $color-blue;
    text-align: center;
    height: 508px;
    h4 {
        color: $color-white;
        margin-bottom: 50px;
        font-weight: $font-weight-medium;
    }
    p {
        color: $color-white;
        font-weight: $font-weight-light;
        width: 51%;
        margin: 0 auto;
    }
}

.pricing-wrapper {
    margin-top: -300px;
    .row {
        > div {
            padding: 0 9px;
            @include breakpoint(x-normal) {
               padding: 0 7px;
            }
        }
        margin-bottom: 100px;
    }
    .grid-item {
        background: $color-white;
        text-align: center;
        padding: 70px 20px 50px;
        border: 3px solid $color-white;
        box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.1);
        min-height: 540px;
        position: relative;
        transition: all 0.3s ease-in-out 0s;
        transform: scale(1, 1);
        @include breakpoint(x-normal) {
            min-height: 510px;
            padding: 50px 20px;
        }
        h4 {
            color: $color-blue;
            font-weight: $font-weight-bold;
            text-transform: $text-capitalize;
            margin-bottom: 30px;
        }
        ul {
            margin-bottom: 50px;
            li {
                list-style: none;
                color: #818791;
                text-align: left;
                position: relative;
                padding-left: 25px;
                font-size: 16px;
                margin-bottom: 8px;
                &:before {
                    content: "\f046";
                    font-family: FontAwesome;
                    color: $color-blue;
                    font-size: 15px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @include breakpoint(x-normal) {
                   font-size: 14px;
                }
            }
        }
        .price-wrap {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 30px;
            .pricing {
                display: block;
                color: $color-blue;
                margin-bottom: 15px;
                @include breakpoint(x-normal) {
                    margin-bottom: 10px;
                }
                span {
                    font-size: 36px;
                    font-weight: $font-weight-bold;
                    @include breakpoint(x-normal) {
                        font-size: 30px;
                    }
                }
            }
            a {
                background: $color-green;
                display: inline-block;
                border-radius: 5px;
                line-height: 3.5;
                min-width: 225px;
                color: $color-white;
                text-align: center;
                font-size: 14px;
                font-family: $font-family-opensans;
                font-weight: $font-weight-semibold;
                text-transform: $text-uppercase;
                border: 1px solid $color-green;
                margin: 0 auto;
                text-align: center;
                &:hover {
                    border-color: #e4e4e4;
                    background: transparent;
                    color: $color-green;
                }
            }
        }
        &.best-value {
            border-color: $color-green;
            transform: scale(1.1, 1.05);
            z-index: 99;
        }
        .offer {
            position: absolute;
            top: -2px;
            right:-2px;
            padding: 10px;
            transition: all 0.3s ease-in-out 0s;
            span {
                font-size: 10px;
                color: $color-white;
                font-family: $font-family;
                font-weight: $font-weight-semibold;
                text-transform: $text-uppercase;
                position: relative;
                z-index: 999;
                display: block;
                &.rotate {
                    transform: rotate(45deg);
                }
            }
        }
        .offer::before,
        .offer::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            border-color: transparent;
            border-style: solid;
        }

        .offer::before {
            border-width: 2.6em;
            border-right-color: $color-green;
            border-top-color: $color-green;
        }
        .offer::after {
            border-radius: 0;
            border-width: 2.6em;
            border-right-color: $color-green;
            border-top-color: $color-green;
        }
    }
    
}

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner-elem {
        padding: 30px;
        border: 4px solid $color-green;
        border-radius: 5px;
        position: relative;
        h4 {
            color: $color-black;
            text-align: center;
            margin: 0 auto 20px;
            font-weight: $font-weight-semibold;
            &:after {
                content: "";
                height: 2px;
                width: 40px;
                display: block;
                background: $color-green;
                margin: 8px auto 0;
            }
        }
        button {
            margin: 0 auto;
            display: block;
            margin-top: 20px;
        }
        .price-detail {
            text-align: center;
            margin: 0 auto 30px;
            li {
                span {
                    font-weight: $font-weight-bold;
                }
                h5 {
                    margin-bottom: 0px;
                    font-weight: $font-weight-bold;
                    color: $color-green;
                }
            }
            h5 {
                margin-bottom: 7px;
                text-transform: capitalize;
            }
            .pricing {
                span {
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-blue;
                }
            }
        }
        .popup-close {
            position: absolute;
            right: -20px;
            top: -20px;
            padding: 0;
            min-width: auto;
            background: $color-white;
            border: 4px solid $color-green;
            height: 45px;
            width: 45px;
            border-radius: 100%;
            opacity: 1;
            z-index: 99;
            &:before {
                content: "\f00d";
                font-family: FontAwesome;
                font-size: 25px;
                display: inline-block;
                position: absolute;
                top: 48%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                color: $color-green;
            }
            &:hover {
                background: $color-green;
                &:before {
                    color: $color-white;
                }
            }
        }
    }
    .form-group {
        position: relative;
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 600px;
        width: 90%;
        background: #fff;
        border-radius: 5px;
    }
    input[type="file"] {
        padding: 8px 10px;
    }
}

/*----- Testimonial Section -----*/

.section-block-testimonial {
    text-align: center;
}

