//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$border-color: #e7e7e7;
$color-blue: #0282B7;
$color-black: #22333d;
$color-grey: #fafafa;
$color-green: #3bcec0;

//Font Family 
$font-family: 'Montserrat', sans-serif;
$font-family-opensans: 'Open Sans', sans-serif;
$font-family-merriweather: 'Merriweather', serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;